body {
  background: #121212;
  color: #e0e0e0;
  font-family: Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #1e90ff;
  text-decoration: none;
}

button, nav a {
  padding: 4px 10px;
  border-radius: 4px;
  color: white;
  font-size: 13px;
}

button {
  background: #333;
  border: none;
  cursor: pointer;
}

button:hover, nav a:hover {
  background: #555;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px;
  background: #333;
  font-size: 13px;
}

nav h1 {
  font-size: 18px;
}

nav ul {
  display: flex;
  gap: 12px;
  list-style: none;
  margin: 0;
}

.image-text-section {
  position: relative;
  width: 100%;
  height: 192px; /* Make the section take up the full viewport height */
  overflow: hidden; /* Crop the image if it exceeds the section's boundaries */
}

.background-image {
  width: 100%;
  height: 100%; /* Make sure the image takes the full height of the section */
  object-fit: cover; /* Ensures the image covers the section while maintaining its aspect ratio */
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 18px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.text-overlay h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.text-overlay p {
  font-size: 16px;
}
